[user]
    name = Carlo Teubner
    email = carlo@cteubner.net

[pull]
    ff = only

[diff]
    tool = nvimdiff

[merge]
    conflictStyle = zdiff3

[init]
    defaultBranch = master

[advice]
    detachedHead = false

[rebase]
    autoSquash = true

[credential]
    helper = cache

[sendemail]
    confirm = auto
    smtpServer = smtp.fastmail.com
    smtpServerPort = 465
    smtpEncryption = ssl
    smtpUser = carlo@cteubner.net

[url "git@github.com:c4rlo/"]
    insteadOf = c:

[url "git@github.com:"]
    insteadOf = g:
    insteadOf = gh:
    insteadOf = github.com:

; [url "git@gitlab.com:"]  -- gives me "git@gitlab.com: Permission denied (publickey)."
[url "https://gitlab.com/"]
    insteadOf = gl:
    insteadOf = gitlab.com:

[url "ssh://aur/"]
    insteadOf = aur:
